fastapi
uvicorn
pydantic
firebase-admin
google-cloud-firestore
redis
scikit-learn
pandas
numpy
torch
shap
streamlit
plotly
networkx
node2vec
joblib
pytest
kaggle
imbalanced-learn
xgboost
lightgbm
catboost
seaborn
matplotlib
tqdm
requests